# Leka - iOS Monorepo
# Copyright 2023 APF France handicap
# SPDX-License-Identifier: Apache-2.0

# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false # Trailing whitespace is significant in markdown files

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 2

[fastlane/*]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[*.json]
insert_final_newline = false
