# Leka - iOS Monorepo
# Copyright 2023 APF France handicap
# SPDX-License-Identifier: Apache-2.0

--disable all
--swiftversion 5.9

# Enabled rules

--enable acronyms
--enable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports

--enable blankLinesAroundMark
--lineaftermarks true

--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--typeblanklines remove

--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenScopes

--enable blockComments

--enable braces
--allman false

--enable conditionalAssignment

--enable consecutiveBlankLines
--enable consecutiveSpaces

--enable duplicateImports

--enable elseOnSameLine
--elseposition same-line
--guardelse auto

--enable emptyBraces
--emptybraces no-space

--enable enumNamespaces
--enumnamespaces always

--enable extensionAccessControl
--extensionacl on-extension

--enable fileHeader
--header Leka - iOS Monorepo\nCopyright {created.year} APF France handicap\nSPDX-License-Identifier: Apache-2.0

--enable genericExtensions

# Disabled rules

--disable blankLinesBetweenImports
--disable docComments
