# Leka - iOS Monorepo
# Copyright 2023 APF France handicap
# SPDX-License-Identifier: Apache-2.0

--disable all
--swiftversion 5.9

# Enabled rules

--enable acronyms
--enable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports

--enable blankLinesAroundMark
--lineaftermarks true

--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--typeblanklines remove

--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenScopes

--enable blockComments

--enable braces
--allman false

--enable conditionalAssignment

# Disabled rules

--disable blankLinesBetweenImports
