# Leka - iOS Monorepo
# Copyright APF France handicap
# SPDX-License-Identifier: Apache-2.0

name: Tuist - Unit Tests

on:
  push:
    branches:
      - develop
    paths:
      - "**/*.swift"
      - ".mise.toml"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.swift"
      - ".mise.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TUIST_TURN_OFF_LINTERS: TRUE

jobs:
  unit_tests:
    name: unit tests
    runs-on: [self-hosted, iOS]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # shallow clone
          lfs: true

      - name: Setup mise
        run: |
          echo "$HOME/.local/share/mise/shims" >> $GITHUB_PATH
          mise install

      - name: tuist install
        run: |
          tuist install

      - name: tuist generate
        run: |
          tuist generate --no-open

      - name: tuist test
        run: |
          tuist test
